<div [formGroup]="form">
  <div class="row mb-3">
    <label for="pass" class="form-label p-0">Password</label>
    <div class="input-group has-validation p-0 position-relative">
      <input id="pass" class="form-control" type="password" autocomplete="new-password" formControlName="password"
             [class.is-valid]="form.controls.password.touched && form.controls.password.valid"
             [class.is-invalid]="form.controls.password.touched && form.controls.password.invalid">
      <button tblPasswordVisibility type="button" class="btn btn-outline-secondary"
              data-bs-toggle="tooltip" data-bs-title="Show password">
        <i class="bi bi-eye"></i>
      </button>
      <div class="invalid-tooltip">
        @if (form.controls.password.touched && form.controls.password.invalid) {
          @if (form.controls.password.errors?.['required']) {
            Password required
          } @else if (form.controls.password.errors?.['pattern']) {
            Password must respect the criteria below
          } @else if (form.controls.password.errors?.['minlength']) {
            Must be at least 10 characters long
          } @else if (form.controls.password.errors?.['maxlength']) {
            Password can't be longer than 512 characters
          } @else if (form.controls.password.errors?.['passwordMismatch']) {
            Passwords do not match
          }
        }
      </div>
    </div>
    <div class="form-text ps-0">
      <ul>
        <li>At least 10 characters</li>
        <li>At least one uppercase letter <code>A-Z</code></li>
        <li>At least one lowercase letter <code>a-z</code></li>
        <li>At least one number <code>0-9</code></li>
        <li>At least one special character <code>!#$%&"'()*+,-./:;<=>?&#64;[\]^_\`&#123;|&#125;~</code></li>
      </ul>
    </div>
  </div>

  <div class="row mb-3">
    <label for="confirm" class="form-label p-0">Confirm password</label>
    <div class="input-group has-validation p-0 position-relative">
      <input id="confirm" class="form-control" type="password" autocomplete="new-password" formControlName="confirm"
             [class.is-valid]="form.controls.confirm.touched && form.controls.confirm.valid"
             [class.is-invalid]="form.controls.confirm.touched && form.controls.confirm.invalid">
      <button tblPasswordVisibility type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip"
              data-bs-title="Show password">
        <i class="bi bi-eye"></i>
      </button>
      <div class="invalid-tooltip">
        @if (form.controls.confirm.touched && form.controls.confirm.invalid) {
          @if (form.controls.confirm.errors?.['required']) {
            Please confirm your password
          } @else if (form.controls.confirm.errors?.['passwordMismatch']) {
            Passwords do not match
          } @else {
            Invalid password
          }
        }
      </div>
    </div>
  </div>
</div>
