div {
  display: flex;
}

p {
  margin: 0 0 0 4px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

/* per far funzionare text-overflow: ellipsis; */
:host {
  flex: auto;
  min-width: 0;
}
