<div #modal
     class="modal fade"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5>{{ title }}</h5>
        <button type="button"
                class="btn-close"
                (click)="onCancel()"></button>
      </div>

      <div class="modal-body">
        {{ description }}
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary me-1"
                (click)="onCancel()">Cancel
        </button>
        <button type="submit"
                class="btn btn-danger"
                (click)="onConfirm()">Delete
        </button>
      </div>
    </div>
  </div>
</div>
