<div class="col">
  <div class="card overflow-hidden" style="height: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">{{ description }}</p>
    </div>
    <div style="height: 100%"></div> <!-- filler verticale per spostare in basso i bottoni -->
    <div class="card-footer text-end">
      <button type="button" class="btn btn-outline-secondary me-1 mb-1" data-bs-toggle="modal" data-bs-target="#editTableCardModal" (click)="edit()">Edit</button>
      <button type="button" class="btn btn-outline-danger me-1 mb-1" (click)="delete()">Delete</button>
    </div>
  </div>
</div>
