<form (submit)="onSubmit($event)" class="needs-validation" novalidate>
  <h3 class="mb-5 text-center">{{ reason }}</h3>

  @if (showOtpInput) {
    <h5 class="row mb-4 justify-content-center text-center">Insert the 6 digits code that was sent to<br><span
      class="text-primary-emphasis">{{ email }}</span></h5>

    <div class="m-auto" style="max-width: 80%">
      <div class="row mb-5">
        <div class="input-group has-validation p-0">
          <input #otpInput class="font-monospace form-control text-center" minlength="6" maxlength="6"
                 required (input)="onCodeInput()" autocomplete="off" [(ngModel)]="otp" name="otp">
          <div #otpFeedback class="invalid-tooltip">Code required</div>
        </div>
      </div>

      <div class="row gap-3">
        <button (click)="onResend()" type="button" class="col btn btn-secondary">Resend</button>
        <button class="col btn btn-primary">Verify</button>
      </div>
    </div>
  } @else {
    <app-password-input [(password)]="newPassword"/>

    <div class="row mt-5">
      <button class="btn btn-primary">Confirm</button>
    </div>
  }
</form>
