<form (submit)="login($event)" class="container needs-validation position-relative" novalidate>
  <h1 class="mb-5 d-flex justify-content-center"><i class="me-3 bi bi-table" style="color: orangered"></i>Tabula</h1>

  <h5 class="row mb-5 p-0 justify-content-center">Sign into your account</h5>

  <div class="row mb-3">
    <label for="email-input" class="form-label p-0">Email address</label>
    <div class="input-group p-0 has-validation">
      <input id="email-input" class="form-control" type="email" [(ngModel)]="email" name="email"
             placeholder="john.doe@example.com" required>
      <div class="invalid-tooltip">A valid email address is required</div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="pass-input" class="form-label p-0">Password</label>
    <div class="input-group p-0 has-validation">
      <input id="pass-input" class="form-control" [(ngModel)]="password" name="password" type="password" required>
      <button appPasswordVisibility id="pass-visible" type="button" class="btn btn-outline-secondary"
              data-bs-toggle="tooltip" data-bs-title="Show password">
        <i class="bi bi-eye" id="pass-icon"></i>
      </button>
      <div class="invalid-tooltip">Password required</div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col form-check">
      <input id="remember-login" class="form-check-input" type="checkbox" [(ngModel)]="rememberMe"
             name="rememberLogin" checked>
      <label for="remember-login" class="form-check-label">Keep me logged in</label>
    </div>
    <a class="col d-flex justify-content-end p-0" href="#">Forgot password?</a>
  </div>

  <div class="row mb-4">
    <button class="btn btn-primary">Log in</button>
  </div>

  <a class="row" routerLink="/register">Don't have an account?</a>

  <div id="alert-container" class="row mt-5 position-absolute w-100"></div>
</form>

