<h3>{{ tableName }}</h3>

@if (isEmpty) { <!-- Mostra una preview se la tabella è vuota -->
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Header</th>
      <th class="button-cell"><button class="btn btn-primary" type="button" (click)="addNewColumn()">+</button></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>data</td>
    </tr>
    <button class="btn btn-primary" type="button" (click)="addNewRow()">+</button>
    </tbody>
  </table>
} @else {
  <table class="table table-striped">
    <thead>
      <tr #columnsContainer>
        <th>Header</th>
        <th class="button-cell"><button class="btn btn-primary" type="button" (click)="addNewColumn()">+</button></th>
      </tr>
    </thead>
    <tbody #rowsContainer>
      <tr>
        <td>...</td>
      </tr>
      <button class="btn btn-primary" type="button" (click)="addNewRow()">+</button>
    </tbody>
  </table>
}

