.button-cell {
  vertical-align: middle;
}


.space-left-right {
  margin-right: 20px;
  margin-left: 20px;
}


.table td {
  min-width: 100px !important;
}


.center-td-content-v-h {
  text-align: center;
  vertical-align: middle;
}


.center-td-content-v {
  vertical-align: middle;
}


.remove-border {
  border: none;
  border-color: inherit;
}
