.button-cell {
  vertical-align: middle;
}


.space-left-right {
  margin-right: 20px;
  margin-left: 20px;
}


.center-td-content-v-h {
  text-align: center;
  vertical-align: middle;
}


.center-td-content-v {
  vertical-align: middle;
}


.center-container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.remove-border {
  border: none;
  border-color: inherit;
}


td,th {
  min-width: var(--cell-table-min-width);
  min-height: var(--cell-table-min-height);
}

/* Per far si che la prima colonna della tabella possa avere una width propria. */
tr > td:first-child,
tr > th:first-child {
  min-width: auto;
  width: 105px;
  max-width: 105px;
}

/*
* Classi per la preview del drag di righe e colonne.
*/

.drag-preview {
  background: #fff;
  border: 1px solid #ccc;
  padding: 4px;
  opacity: 0.8;

  min-width: var(--cell-table-min-width);
  min-height: var(--cell-table-min-height);

  box-shadow: var(--elevated-shadow);
}

.drag-preview i {
  margin-right: 8px;
  margin-left: 3px;
}

.column-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border-top: 3px solid var(--bs-primary);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.row-preview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-left: 3px solid var(--bs-primary);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.preview-cell {
  padding: 2px 4px;
}

