<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
  <h1 class="mb-5 d-flex justify-content-center"><i class="me-3 bi bi-table" style="color: orangered"></i>Tabula</h1>

  <h5 class="row mb-5 p-0 justify-content-center">Create an account</h5>

  <tbl-name-field/>

  <tbl-surname-field/>

  <tbl-country-select/>

  <tbl-email-field/>

  <tbl-password-input/>

  <div class="row mb-5">
    <div class="form-check">
      <input id="rememberMe" class="form-check-input" type="checkbox" formControlName="rememberMe" checked>
      <label for="rememberMe" class="form-check-label">Keep me signed in</label>
    </div>
  </div>

  <div class="row mb-4">
    <button class="btn btn-primary">Sign up</button>
  </div>

  <a class="row pb-5" routerLink="/sign-in">Already have an account?</a>
</form>
