<form (submit)="onSubmit($event)" class="needs-validation" novalidate>
  <h1 class="mb-5 d-flex justify-content-center"><i class="me-3 bi bi-table" style="color: orangered"></i>Tabula</h1>

  <h5 class="row mb-5 p-0 justify-content-center">Create an account</h5>

  <div class="row mb-3">
    <label for="name-input" class="form-label p-0">Name</label>
    <div class="input-group p-0 has-validation">
      <input id="name-input" class="form-control" placeholder="John" type="text" [(ngModel)]="form.name" name="name"
             required autofocus minlength="2" maxlength="100" (input)="onNameInput($event)">
      <div class="invalid-tooltip">Name required</div>
    </div>
  </div>

  <div class="row mb-3 position-relative">
    <label for="surname-input" class="form-label p-0">Surname</label>
    <div class="input-group p-0 has-validation">
      <input id="surname-input" class="form-control" placeholder="Doe" type="text" [(ngModel)]="form.surname"
             name="surname" required minlength="2" maxlength="100" (input)="onNameInput($event)">
      <div class="invalid-tooltip">Surname required</div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="country-input" class="form-label p-0">Country</label>
    <div class="input-group p-0 has-validation position-relative">
      <select #countryInput (change)="onCountrySelect($event)" class="form-select" [(ngModel)]="countryIndex"
              name="country" required>
        <option value="0" disabled>Select your country</option>
        <option [value]="i" *ngFor="let country of countries; index as i">
          {{ country.name.length > 26 ? country.name.substring(0, 26) + '…' : country.name }}&nbsp;
          {{ country.flag }}
        </option>
      </select>
      <div class="invalid-tooltip">Country required</div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="email-input" class="form-label p-0">Email address</label>
    <div class="input-group p-0 has-validation position-relative">
      <input #emailInput id="email-input" class="form-control" type="email" [(ngModel)]="form.email" name="email"
             placeholder="john.doe@example.com" required autocomplete="username" (input)="onEmailInput()">
      <div #emailFeedback class="invalid-tooltip">A valid email address is required</div>
    </div>
  </div>

  <app-double-pass-input/>

  <div class="row mb-5">
    <div class="form-check">
      <input id="remember-login" class="form-check-input" type="checkbox" [(ngModel)]="form.rememberMe"
             name="rememberLogin" checked>
      <label for="remember-login" class="form-check-label">Keep me signed in</label>
    </div>
  </div>

  <div class="row mb-4">
    <button class="btn btn-primary">Sign up</button>
  </div>

  <a class="row pb-5" routerLink="/sign-in">Already have an account?</a>
</form>
