<nav class="shadow-sm navbar navbar-expand border rounded">
  <div class="container-fluid">
    <button class="btn btn-hover fw-bold fs-4">Tabula</button>

    <form #searchForm class="d-flex w-50 mx-2"
          (focusin)="onFocusIn()"
          (focusout)="onFocusOut()"
          (ngSubmit)="onSearchSubmit(searchForm)">
      <div class="input-group">
        <input #searchField id="search-field" [(ngModel)]="searchContent" name="searchField" class="form-control rounded-start-5 ps-4 pe-5" type="search" placeholder="Search" (keyup)="onKeyUp()">

        <!-- Bottone di ricerca -->
        <button class="btn btn-light border rounded-end-5" type="submit">
          <i class="bi bi-search"></i>
        </button>

        <!-- Bottone per cancellare -->
        <button *ngIf="searchFieldOnFocus" id="clear-search-field-button" class="btn btn-hover rounded-circle p-0"
                (click)="clearSearch()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </form>
    <div>
      <button class="btn btn-hover rounded-circle">
        <i class="bi bi-box-arrow-left fs-4"></i>
      </button>
      <button class="btn btn-hover rounded-circle">
        <i class="bi bi-person-circle fs-4"></i>
      </button>
    </div>
  </div>
</nav>
