<nav class="shadow-sm navbar navbar-expand bg-light border">
  <div class="container-fluid">
    <button class="btn btn-light fw-bold fs-4">Tabula</button>

    <form class="d-flex w-50 mx-2">
      <div class="input-group">
        <input class="form-control rounded-start-5" type="search" placeholder="Search">
        <button class="btn btn-light border rounded-end-5" type="button">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>

    <div>
      <button class="btn btn-light rounded-circle">
        <i class="bi bi-box-arrow-left fs-4"></i>
      </button>
      <button class="btn btn-light rounded-circle">
        <i class="bi bi-person-circle fs-4"></i>
      </button>
    </div>
  </div>
</nav>
