p {
  margin: 0;
  padding: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

/* to make text-overflow: ellipsis; work */
:host {
  flex: auto;
  min-width: 0;
}
