<form (submit)="onSubmit($event)" class="needs-validation" novalidate>
  <h1 class="mb-5 d-flex justify-content-center"><i class="me-3 bi bi-table" style="color: orangered"></i>Tabula</h1>

  <h5 class="row mb-5 p-0 justify-content-center">Sign into your account</h5>

  <div class="row mb-3">
    <label for="email-input" class="form-label p-0">Email address</label>
    <div class="input-group p-0 has-validation">
      <input #emailInput id="email-input" class="form-control" type="email" [(ngModel)]="form.email" name="email"
             placeholder="john.doe@example.com" required autocomplete="username" (input)="onEmailInput()">
      <div #emailFeedback class="invalid-tooltip">Valid email required</div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="pass-input" class="form-label p-0">Password</label>
    <div class="input-group p-0 has-validation">
      <input #passwordInput id="pass-input" class="form-control" [(ngModel)]="form.password" name="password"
             type="password" required autocomplete="current-password" minlength="10" maxlength="512"
             (input)="onPasswordInput()">
      <button appPasswordVisibility id="pass-visible" type="button" class="btn btn-outline-secondary"
              data-bs-toggle="tooltip" data-bs-title="Show password">
        <i class="bi bi-eye" id="pass-icon"></i>
      </button>
      <div #passwordFeedback class="invalid-tooltip">Password required</div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col form-check">
      <input id="remember-me" class="form-check-input" type="checkbox" [(ngModel)]="form.rememberMe"
             name="rememberLogin" checked>
      <label for="remember-me" class="form-check-label">Keep me signed in</label>
    </div>
    <button (click)="onForgotPassword()" type="button" class="col btn btn-link d-flex justify-content-end p-0">Forgot
      Password?
    </button>
  </div>

  <div class="row mb-4">
    <button class="btn btn-primary">Sign in</button>
  </div>

  <a class="row pb-5" routerLink="/sign-up">Don't have an account?</a>
</form>

