<button class="btn btn-primary w-100 mb-3 py-2 d-flex align-items-center justify-content-center"
        (click)="onChangePassword()">Change Password <i class="bi bi-key ms-2 fs-5"></i></button>

<div #changePasswordDialog class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change your password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <h6 class="mb-4">Provide your current password for verification</h6>
        <tbl-password-field/>
        <hr>
        <h6 class="mb-2 mt-4">Set your new password</h6>
        <tbl-password-input style="display: block !important; padding: 0.8rem !important;"/>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onConfirmChangePassword()">Change password</button>
      </div>
    </div>
  </div>
</div>
