<label for="pass" class="form-label p-0">Password</label>
<div class="input-group p-0 has-validation">
  <input id="pass" class="form-control" type="password" autocomplete="current-password" [formControl]="password"
         [class.is-valid]="password.touched && password.valid"
         [class.is-invalid]="password.touched && password.invalid">
  <button tblPasswordVisibility type="button" class="btn btn-outline-secondary"
          data-bs-toggle="tooltip" data-bs-title="Show password">
    <i class="bi bi-eye"></i>
  </button>
  <div class="invalid-tooltip">
    @if (password.touched && password.invalid) {
      @if (password.errors?.['required']) {
        Password required
      } @else if (password.errors?.['minlength']) {
        Password must be at least 10 characters long
      } @else if (password.errors?.['maxlength']) {
        Password can't be longer than 512 characters
      } @else if (password.errors?.['pattern']) {
        Provided password doesn't match the validity criteria
      } @else if (password.errors?.['incorrect']) {
        Incorrect password
      }
    }
  </div>
</div>
